html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  background-color: #00A896;
  padding-top: 100px;
  padding-bottom: 30px;
}

.list {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  background: #028090;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
}

.item {
  width: 280px;
  background: #F1FAEE;
  border: 1px solid #05668D;
  border-radius: 2px;
  padding: 5px 10px;
  user-select: none;
  cursor: pointer;
}

.divider {
  height: 10px;
  transition: height 0.5s ease;
}

.expanded-divider {
}

.draggable {
  position: absolute;
  background: #DFF1F2;
  cursor: move;
}

.animated-draggable-item {
  transition: all 0.2s ease;
  transition-property: left, top;
}

.not-animated {
  transition: none;
}