html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  background-color: #e2f7ff;
  padding-top: 100px;
  padding-bottom: 30px;
}

.list {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  background: #5271bc69;
  padding: 0 10px;
  border-radius: 5px;
  font-size: 1.2rem;
}

.item {
  width: 280px;
  background: #ffffff;
  border: 1px solid #2b2b44;
  border-radius: 2px;
  padding: 5px 10px;
  user-select: none;
  cursor: pointer;
}

.item-id {
  color: #585858;
  font-size: .9rem;
  padding: 5px 0;
}

.divider {
  height: 10px;
  transition: height 0.5s ease;
}

.draggable {
  position: absolute;
  background: #DFF1F2;
  cursor: move;
}

.animated-draggable-item {
  transition: all 0.2s ease;
  transition-property: left, top;
}

.not-animated {
  transition: none;
}

a {
  color: #ff22bb;
  text-decoration: none;
}

a:visited {
  color: #ca16dd;
}
